<br><br>
<div align="center">
    <p><h1>other editions</h1></p>
    <a href="{{site.baseurl}}/july2015/">july 2015</a> / <a href="{{site.baseurl}}/fall2015/">fall quarterly 2015</a> / <a href="{{site.baseurl}}/september2015/">september 2015</a> <br> <a href="{{site.baseurl}}/october2015/">october 2015</a> / <a href="{{site.baseurl}}/november2015/">november 2015</a> / <a href="{{site.baseurl}}/winter2016/">winter quarterly 2016</a> <br> <a href="{{site.baseurl}}/february2016 /">february 2016</a> / <a href="{{site.baseurl}}/april2016/">april 2016</a> / <a href="{{site.baseurl}}/spring2016/">spring 2016</a>/ <a href="{{site.baseurl}}/june2016/">june 2016</a>
</div>
<br><br>
