---
layout: default
---

<div class="monthly">
    <div>
	{% if page.vid %}
	<iframe src="{{page.vid}}" class="issue-video" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	{% endif %}
    </div>
    
    <h1 class="piece-title">{{page.title}}</h1>
    
    <div class="piece-list">
	{% for post in site.categories[page.posts] %}
            <div class="item">
		<a href="{{ post.url }}">{{ post.title }} by {{ post.author }}</a>
            </div>
	{% endfor %}
    </div>

    <p><a href="people.html">read everyone's bio here</a></p>

</div>

{% include monthly_footer.html %}

